mixin head(title)
    head
        meta(charset='UTF-8')
        //- change theme color later
        meta(name='theme-color' content='blanchedalmond' media='(prefers-color-scheme: light)')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= (title ? title + ' · ' : '') + 'Yiu-On'
        link(rel='stylesheet' type='text/css' href='style.css')