nav.navbar
    ul
        li #[a(href='/index') Yiu-On Li]
        li #[a(href='/work') Work]
            ul
                li #[a(href='/copyediting') Copyediting]
                li #[a(href='/expository') Expository]
                li #[a(href='/fiction') Fiction]
                li #[a(href='/web') Web]
        li #[a(href='/now') Now]
        li #[a(href='/contact') Contact]