nav.navbar
    ul
        li.navbar__home #[a(href='/index') Yiu-On Li]
        li Work
            ul.navbar__sub
                li #[a(href='/copyediting') Copyediting]
                li #[a(href='/expository') Expository]
                li #[a(href='/fiction') Fiction]
                li #[a(href='/web') Web]
                li #[a(href='/archive') Archive]
                li #[a(href='/resume') Résumé]
        li #[a(href='/now') Now]
        li #[a(href='/contact') Contact]