/* Variable naming convention: https://jwdallas.com/posts/namingcssvariables/
$color-inactive: hsl(0, 0%, 80%)
$color-text: hsl(0, 0%, 13%)
$fontFamily-aside: 'SK Moralist', 'Times New Roman', Times, serif
$fontFamily-body: Alegreya, 'Times New Roman', Times, serif
$fontFamily-heading: Geom, Arial, sans-serif