@use 'reset'
@use 'fonts'

/* Variable naming convention: https://jwdallas.com/posts/namingcssvariables/
$color-text: #212121
$fontFamily-aside: 'SK Moralist', 'Times New Roman', Times, serif
$fontFamily-body: Alegreya, 'Times New Roman', Times, serif
$fontFamily-heading: Geom, Arial, sans-serif

body
    margin-block: 3rem
    margin-inline: 3rem
    font-family: $fontFamily-body
    font-weight: normal
    color: $color-text

h1, h2, h3, h4, h5, h6
    font-family: $fontFamily-heading

p
    margin-block-end: 0.5rem
    font-size: 1rem
    font-family: $fontFamily-body
    font-weight: normal

small
    font-size: 0.75rem
    font-family: $fontFamily-aside
    font-weight: normal

.navbar
    font-family: $fontFamily-heading

    ul
        display: flex
        padding: 0
        list-style-type: none

    li
        margin-block-end: 0.5rem
        margin-inline: 0.5rem

    &__home
        flex-grow: 2

    &__top > &__sub
        display: none
        flex-direction: column
        margin-block-start: 0.5rem

        li
            margin-inline: 0

    &__top:focus-within > &__sub
        display: block