@use 'reset'
@use 'variables' as *
@use 'fonts'

body
    // border: 10px solid black
    margin-block: 3rem
    margin-inline: auto
    width: 700px
    font-family: $fontFamily-body
    font-weight: normal
    color: $color-text

    @media (max-width: 50rem)
        margin: 20px
        width: unset

h1, h2, h3, h4, h5, h6
    font-family: $fontFamily-heading

p
    margin-block-end: 1rem
    font-size: 1rem
    font-family: $fontFamily-body
    font-weight: normal

small
    font-size: 0.75rem
    font-family: $fontFamily-aside
    font-weight: normal

ul
    margin-block-end: 1rem

li
    font-size: 1rem
    font-family: $fontFamily-body
    font-weight: normal

.navbar
    font-size: 1.1rem
    font-family: $fontFamily-heading

    a
        color: $color-inactive
        text-decoration: none
        &:hover
            text-decoration: underline

    ul
        display: flex
        padding: 0
        list-style-type: none

    li
        margin-block-end: 0.5rem
        margin-inline: 0.5rem
        font-family: $fontFamily-heading

    &__home
        flex-grow: 2

    &__top > &__sub
        display: none
        flex-direction: column
        margin-block-start: 0.5rem

        li
            margin-inline: 0

    &__top:focus-within > &__sub
        position: absolute
        display: block

    &:hover
        a
            color: $color-text