/* CSS reset by Josh W. Comeau
 *  https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Variable naming convention: https://jwdallas.com/posts/namingcssvariables/ */
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-normal-cyrillic.woff2") format("woff2");
  unicode-range: "cyrillic";
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-normal-cyrillic-ext.woff2") format("woff2");
  unicode-range: "cyrillic-ext";
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-normal-greek.woff2") format("woff2");
  unicode-range: "greek";
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-normal-greek-ext.woff2") format("woff2");
  unicode-range: "greek-ext";
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-normal-latin.woff2") format("woff2");
  unicode-range: "latin";
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-normal-latin-ext.woff2") format("woff2");
  unicode-range: "latin-ext";
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-normal-vietnamese.woff2") format("woff2");
  unicode-range: "vietnamese";
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-italic-cyrillic.woff2") format("woff2");
  unicode-range: "cyrillic";
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-italic-cyrillic-ext.woff2") format("woff2");
  unicode-range: "cyrillic-ext";
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-italic-greek.woff2") format("woff2");
  unicode-range: "greek";
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-italic-greek-ext.woff2") format("woff2");
  unicode-range: "greek-ext";
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-italic-latin.woff2") format("woff2");
  unicode-range: "latin";
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-italic-latin-ext.woff2") format("woff2");
  unicode-range: "latin-ext";
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400 900;
  font-display: block;
  src: url("fonts/alegreya-italic-vietnamese.woff2") format("woff2");
  unicode-range: "vietnamese";
}
@font-face {
  font-family: "Geom";
  font-style: normal;
  font-weight: 300 900;
  font-display: block;
  src: url("fonts/geom-normal-greek.woff2") format("woff2");
  unicode-range: "greek";
}
@font-face {
  font-family: "Geom";
  font-style: normal;
  font-weight: 300 900;
  font-display: block;
  src: url("fonts/geom-normal-latin.woff2") format("woff2");
  unicode-range: "latin";
}
@font-face {
  font-family: "Geom";
  font-style: normal;
  font-weight: 300 900;
  font-display: block;
  src: url("fonts/geom-normal-latin-ext.woff2") format("woff2");
  unicode-range: "latin-ext";
}
@font-face {
  font-family: "Geom";
  font-style: italic;
  font-weight: 300 900;
  font-display: block;
  src: url("fonts/geom-italic-greek.woff2") format("woff2");
  unicode-range: "greek";
}
@font-face {
  font-family: "Geom";
  font-style: italic;
  font-weight: 300 900;
  font-display: block;
  src: url("fonts/geom-italic-latin.woff2") format("woff2");
  unicode-range: "latin";
}
@font-face {
  font-family: "Geom";
  font-style: italic;
  font-weight: 300 900;
  font-display: block;
  src: url("fonts/geom-italic-latin-ext.woff2") format("woff2");
  unicode-range: "latin-ext";
}
@font-face {
  font-family: "SK Moralist";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("fonts/skmoralist-normal-cyrillic.woff2") format("woff2");
  unicode-range: "cyrillic";
}
@font-face {
  font-family: "SK Moralist";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("fonts/skmoralist-normal-latin.woff2") format("woff2");
  unicode-range: "latin";
}
body {
  margin-block: 3rem;
  margin-inline: auto;
  width: 700px;
  font-family: Alegreya, "Times New Roman", Times, serif;
  font-weight: normal;
  color: hsl(0, 0%, 13%);
}
@media (max-width: 740px) {
  body {
    margin: 20px;
    width: unset;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Geom, Arial, sans-serif;
}

p {
  margin-block-end: 0.5rem;
  font-size: 1rem;
  font-family: Alegreya, "Times New Roman", Times, serif;
  font-weight: normal;
}

small {
  font-size: 0.75rem;
  font-family: "SK Moralist", "Times New Roman", Times, serif;
  font-weight: normal;
}

.navbar {
  font-size: 1.1rem;
  font-family: Geom, Arial, sans-serif;
}
.navbar a {
  color: hsl(0, 0%, 80%);
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.navbar li {
  margin-block-end: 0.5rem;
  margin-inline: 0.5rem;
}
.navbar__home {
  flex-grow: 2;
}
.navbar__top > .navbar__sub {
  display: none;
  flex-direction: column;
  margin-block-start: 0.5rem;
}
.navbar__top > .navbar__sub li {
  margin-inline: 0;
}
.navbar__top:focus-within > .navbar__sub {
  position: absolute;
  display: block;
}
.navbar:hover a {
  color: hsl(0, 0%, 13%);
}

/*# sourceMappingURL=style.css.map */
