include /_includes/_head.pug

doctype html
html
    block head
        +head()
    body
        include /_includes/_nav.pug
        header
            block header
        main
            block main
        block footer
            include /_includes/_footer.pug