extends ../_templates/_normal-layout.pug

block head
    +head('Copyediting')
block header
    h1 Copyediting
block main
    section
        h2 Fiction
        p From September 2022 to June 2023, I served as the prose editor of The Catalyst Contemporary Literary Arts Magazine at UC Santa Barbara. I helped students and outside submitters polish their words, ideas, and stories for publication.
        ul
            li.starred Prose: “The Three Times I Have Dared to Tango With the Tides” (#[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-The-Three-Times-I-Have-Dared-to-Tango-With-the-Tides-before.pdf') before] and #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-The-Three-Times-I-Have-Dared-to-Tango-With-the-Tides-after.pdf') after])
            li.starred Prose: “Tarsal Maggot” (#[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-Tarsal-Maggot-before.pdf') before] and #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-Tarsal-Maggot-after.pdf') after])
            li.starred Prose: “*Sensitive” (#[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-Sensitive-before.pdf') before] and #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-Sensitive-after.pdf') after])
            li Prose: “All Aboard” (#[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-All-Aboard-before.pdf') before] and #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-All-Aboard-after.pdf') after])
            li Poetry: “Running Cross Country in Oxnard” (#[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-Running-Cross-Country-in-Oxnard-before.pdf') before] and #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Catalyst-Running-Cross-Country-in-Oxnard-after.pdf') after])
    section
        h2 Press releases and event write-ups
        p From April to June 2023, I interned with #[a(href='https://ivparks.org') Isla Vista Recreation & Park District], writing press releases and event recaps. #[strong I compiled information and interviewed event attendees in a journalistic style]—I was not merely sitting at a desk all day, though I did have practice coming into the office at regularly scheduled hours.
        p #[strong I was also the go-to person whenever someone needed suggestions on their writing], such as with social media posts, newsletters, and the website. To ensure consistency across the organization, I created a style guide of commonly used words and grammatical structures, using as my foundations #[i The Chicago Manual of Style] and #[i Merriam-Webster's Collegiate Dictionary].
        ul
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-APIDA-Heritage-Month-Celebration-press-release.pdf') Press release: APIDA Heritage Month Celebration]
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-Concert-for-the-Coast-press-release.pdf') Press release: Concert for the Coast]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-Cinco-de-Mayo-Celebration-Press-Release.pdf') Press release: Cinco de Mayo Celebration]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-Generation-Recovery-Press-Release.pdf') Press release: Generation Recovery]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-EAB-IV-Earth-Day-press-release.pdf') Press release: EAB IV Earth Day]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-Art-in-the-Park-press-release.pdf') Press release: Art in the Park]
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-Stewardship-Saturday-at-Sueno-Orchard-write-up.pdf') Event write-up: Stewardship Saturday at Sueño Orchard]
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-APIDA-Heritage-Month-Celebration-write-up.pdf') Event write-up: APIDA Heritage Month Celebration]
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-Concert-for-the-Coast-write-up.pdf') Event write-up: Concert for the Coast]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-Cinco-de-Mayo-Celebration-write-up.pdf') Event write-up: Cinco de Mayo Celebration]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-Generation-Recovery-write-up.pdf') Event write-up: Generation Recovery]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-EAB-IV-Earth-Day-write-up.pdf') Event write-up: EAB IV Earth Day]
            li.starred Website editing: Parks (#[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-website-parks-before.pdf') before] and #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-website-parks-after.pdf') after])
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/IVRPD-style-guide.pdf') Style guide]
    section
        h2 Research papers
        p From February to June 2023, I helped copyedit an undergraduate student's research into the relationship between #[strong Joan Didion's writing and mental health]. We corresponded via email and swapped drafts. To maintain consistency, I created a style guide that based its guidelines on #[i The Chicago Manual of Style] and #[i Merriam-Webster's Collegiate Dictionary].
        ul
            li.starred #[i Behind the Shades: A Close Look at the Blurred Lines between Joan Didion's Fiction and Nonfiction] (#[a(href='https://platypiduses.com/wp-content/uploads/2023/07/Didion-before.pdf') before] and #[a(href='https://platypiduses.com/wp-content/uploads/2023/07/Didion-after.pdf') after])
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/07/Didion-style-guide.pdf') Style guide]
    section
        h2 Class editing assignments
        p Yes, I know, I know: it's embarrassing to rely on schoolwork as the basis for potential employment. But these assignments simulate real-world editing circumstances, from marginalia to cordial correspondences.
        p And, most importantly, these show that, yes, I can edit by hand; #[strong I know the typical copyediting marks, for clients who prefer pens over keyboards.] I haven't met many of you like this, but I'm sure you're out there somewhere.
        ul
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Class-public-radio-editing.pdf') Radio]
            li.starred #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Class-Today-Im-Yours-editing.pdf') "Today I'm Yours"]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Class-syphilis-editing.pdf') Syphilis]
            li #[a(href='https://platypiduses.com/wp-content/uploads/2023/06/Class-tattooing-editing.pdf') Tattooing]