extends /_templates/_normal-layout.pug

block head
    +head('Contact')
block header
    h1 Contact
block main
    p I'm on #[a(href='https://www.linkedin.com/in/yiu-on/') LinkedIn]. I'm also on #[a(href='https://www.instagram.com/yiuon.li/') Instagram], #[a(href='https://bsky.app/profile/yiu-on.li') Bluesky], #[a(href='https://x.com/yiuon_li') Twitter/X], and #[a(href='https://www.facebook.com/yiu.hyphen.on.li/') Facebook], though I don't really use any of those.
    p You can also email me at #[a(href='mailto:hi@yiu-on.li') hi@yiu-on.li].