extends /_templates/_normal-layout.pug

block head
    +head('Expository writing')
block header
    h1 Expository writing
block main
    section
        h2 Newsletters and tutorial videos
            p I’ve written newsletters for #[a(href='https://datamuse.com/') Datamuse], a search engine company that’s been around #[a(href='https://www.onelook.com/?c=trademark') since the early days of the web]. My job involved crawling through #[a(href='https://civicsearch.org/') CivicSearch], a database that aggregates transcripts of local government meetings from the United States and Canada, to discuss important but below-the-radar issues.
            ul
                li.starred #[a(href='https://civicsearch.org/feature/fluoride') Fluoride in drinking water]
                li #[a(href='https://civicsearch.org/feature/voter-turnout') Voter turnout]
                li.starred #[a(href='https://civicsearch.org/feature/ranked-choice-voting') Ranked-choice voting]
                li.starred #[a(href='https://civicsearch.org/feature/participatory-budgeting') Participatory budgeting]
                li #[a(href='https://civicsearch.org/feature/rent-control') Rent control]
                li #[a(href='https://civicsearch.org/feature/accessory-dwelling-units') Accessory dwelling units]
                li.starred #[a(href='https://civicsearch.org/feature/short-term-rentals') Airbnbs and short-term rentals]
                li.starred #[a(href='https://civicsearch.org/feature/immigration') Immigration]
                li #[a(href='https://civicsearch.org/feature/cycling') Cycling] (#[a(href='https://pod.link/1800116578') podcast] and #[a(href='https://www.youtube.com/watch?v=JVUH_MLu7SM') YouTube] video)
                li #[a(href='https://civicsearch.org/feature/pickleball') Pickleball]
                li.starred #[a(href='https://civicsearch.org/feature/harm-reduction') Harm reduction, the opioid crisis, and safe injection sites]
                li #[a(href='https://civicsearch.org/feature/bus-rapid-transit') Bus rapid transit]
                li.starred #[a(href='https://civicsearch.org/feature/absenteeism') School absenteeism] (and #[a(href='https://civicsearch.org/nsba_assets/chronic_absenteeism.pdf') one-pager])
            p I used Slack to communicate and GitHub to create web versions of the newsletter.
            p I also scripted, recorded, and edited one-minute tutorial videos for YouTube that demonstrated key features of OneLook, a #[a(href='https://www.onelook.com/') dictionary]–#[a(href='https://onelook.com/thesaurus/') thesaurus]–word-finder combo.
            ul
                li.starred #[a(href='https://www.youtube.com/watch?v=oFz9OyLcy7k')] OneLook subject index
                li.starred #[a(href='https://www.youtube.com/watch?v=a-HmvCyjrW0')] OneLook wildcard search patterns
                li.starred #[a(href='https://www.youtube.com/watch?v=Eku7oJkxfTY')] OneLook result tabs