extends _templates/_normal-layout.pug

block header
    h1 Hi! I'm Yiu-On.
        p Pretend the #[i i] is an #[i o] and the pronunciation should make sense.
        small I'm not sure why my parents gave me that name, and they're not sure either (I asked).
        p I do writing and tech.
block main
    section#writing
        h2 Writing
        p I write fiction and nonfiction.
    section#copyediting
        h2 Copyediting
        p Copyediting is like proofreading but more complicated.
    section#web
        h2 Web
        p I do some frontend website work on the side. I know HTML, CSS, and JavaScript.