extends /_templates/_normal-layout.pug

block head
    +head('Now')
block header
    h1 Now
block main
    p I’m working full-time as a Quality Analyst at Meta. I review videos captured by Ray-Ban Meta glasses, label them, and feed them into AI models to improve their ability to explain the world to people. I find I focus best in the office. Caffeine helps with this, typically tea.
    p Something else I do is #[i #[a(href='https://shlmagazine.com/') South Hall Literary Magazine]], as an editor and web admin. I'm currently finalizing the first issue PDF and setting up the storefront so that we can start collecting donations.
    p I'm trying to return to my roots as a writer. I've set a goal on Beeminder of 21 minutes of writing per day, and working my way up from there. Any sort of writing counts, whether that's journaling or writing an article or working on a story.
    p On the reading side of things, I've started working my way through #[i The Chicago Manual of Style], 18th ed., while I'm at my desk. When I'm on the go, I've been reaching for #[i BART: The Dramatic History of the Bay Area Rapid Transit System], by Michael C. Healy.
    hr
    p Last updated #[time(datetime='2026-05-07') May 7, 2026]. Inspired by #[a(href='https://nownownow.com/') nownownow.com].