extends /_templates/_normal-layout.pug

block head
    +head('Web')
block header
    h1 Web
block main
    section
        h2 #[i South Hall Literary Magazine]
            p Since October 2023, I’ve maintained #[a(href='https://shlmagazine.com/') the #[i South Hall Literary Magazine] website].
            ul
                li I use WordPress and some custom HTML, CSS, and PHP.
                li Hosting involves Spaceship and Cloudflare.
                li I manage the submission intake system using SMTP, AppSheet, and Google Apps Script.
                li I've also created a Google Docs add-on (for internal use) to fix common formatting issues while editing submissions, like double spaces and straight quotes.
    section
        h2 This website
            p The website you're reading right now I built using Vercel, Pug, Sass, and GitHub.