doctype html

html
    head
        meta(charset='UTF-8')
        title Expository Writing · Yiu-On Li
        link(rel='stylesheet' type='text/css' href='style.css')
    body
        section
            h1 Expostory Writing
        section
            h2 Newsletters and tutorial videos
            p I’ve written newsletters for #[a(href='https://datamuse.com/') Datamuse], a search engine company that’s been around #[a(href='https://www.onelook.com/?c=trademark') since the early days of the web]. My job involved crawling through #[a(href='https://civicsearch.org/') CivicSearch], a database that aggregates transcripts of local government meetings from the United States and Canada, to discuss important but below-the-radar issues.
            ul
                li.starred #[a(href='https://civicsearch.org/feature/fluoride') Fluoride in drinking water]
                li #[a(href='https://civicsearch.org/feature/voter-turnout') Voter turnout]
                li.starred #[a(href='https://civicsearch.org/feature/ranked-choice-voting')] Ranked-choice voting
                li.starred #[a(href='https://civicsearch.org/feature/participatory-budgeting')] Participatory budgeting
                li #[a(href='https://civicsearch.org/feature/rent-control')] Rent control
                li #[a(href='https://civicsearch.org/feature/accessory-dwelling-units')] Accessory dwelling units
                li.starred #[a(href='https://civicsearch.org/feature/short-term-rentals')] Airbnbs and short-term rentals
                li.starred #[a(href='https://civicsearch.org/feature/immigration')] Immigration
                li #[a(href='https://civicsearch.org/feature/cycling')] Cycling (#[a(href='https://pod.link/1800116578') podcast] and #[a(href='https://www.youtube.com/watch?v=JVUH_MLu7SM') YouTube] video)
                li #[a(href='https://civicsearch.org/feature/pickleball')] Pickleball
                li.starred #[a(href='https://civicsearch.org/feature/harm-reduction')] Harm reduction, the opioid crisis, and safe injection sites
                li #[a(href='https://civicsearch.org/feature/bus-rapid-transit')] Bus rapid transit
                li.starred #[a(href='https://civicsearch.org/feature/absenteeism')] School absenteeism (and #[a(href='https://civicsearch.org/nsba_assets/chronic_absenteeism.pdf') one-pager])
            p I used Slack to communicate and GitHub to create web versions of the newsletter.
            p I also scripted, recorded, and edited one-minute tutorial videos for YouTube that demonstrated key features of OneLook, a dictionary–thesaurus–word-finder combo.
            ul
                li.starred #[a(href='https://www.youtube.com/watch?v=oFz9OyLcy7k')] OneLook subject index
                li.starred #[a(href='https://www.youtube.com/watch?v=a-HmvCyjrW0')] OneLook wildcard search patterns
                li.starred #[a(href='https://www.youtube.com/watch?v=Eku7oJkxfTY')] OneLook result tabs
        section
            h2 Guideline documents
            p From June 2021 to June 2023, I served as the internal chair of the Isla Vista Community Relations Committee (IVCRC), a student philanthropic and event-planning organization under the Associated Students of UC Santa Barbara. To make sure everyone knew what they were doing—and to create an institutional knowledge that could be expanded upon by future members—I wrote more than 25 guideline documents of 2 to 4 pages in length. Below is a small selection.
            ul
                li Honoraria guidelines
                li Publicity guidelines
                li Communication guidelines
                li Meeting guidelines
                li Pardall Center guidelines
        section
            h2 Onboarding videos
            p As the internal chair of IVCRC, I also created a series of 12 onboarding videos, each 10 to 20 minutes in length. I recorded 5 of the videos (the rest were recorded by my fellow chairs), and I scripted and edited all of them.
            ul
                li V08 Slack (video and script)
                li V04 Teamwork (video and script)
                li V01 Introduction (video and script)
                li V05 Spanish (video and script)
                li V09 ClickUp (video and script)
        section
            h2 Bulk publicity emails
            p As the internal chair of IVCRC, I also wrote some of the emails that we’d send out to the entire campus, whether to advertise a new event or to recruit new members.
            ul
                li 30-foot Ferris wheel on Sunday: Pardall Carnival returns
                li Ferris wheel folks recruiting for next year (IVCRC)
                li We need more
                li Kozy Coffee, blueprints, bikes, and study jam at the Pardall Center
                li Applications open for the Isla Vista Community Relations Committee
                li Photo Exhibition with IVCRC for a Polaroid!
        section
            h2 Speeches
            p Nothing major, and nothing much yet, but might as well put it here.
            ul
                li Graduation speech for the Professional Editing minor (no recording, sadly; watch the onboarding videos and just imagine my voice in your head)
        section
            h2 Newspaper articles
            p From October 2019 to April 2023, I contributed news articles and opinion pieces to the Daily Nexus, UC Santa Barbara’s primary student newspaper. I interviewed students and community members and reported on local happenings, in the process working closely with the editors of each respective section.
            p From my time here, I know how to ask effective questions and get to the point.
            ul
                li Opinion: “We are Cannibalizing Ourselves: Israel-Palestine Is Not a Competition”
                li Opinion: “Watching basketball for the first time: leather spheres and polished maple”
                li News: “2022 A.S. Elections To Begin Phase-Out of Parties, Campaign In-Person”
                li News: “‘Pass Down the Torch’: The Four-Year Journey to the New A.S. Bike Shop”
                li News: “A.S. Bike Shop Breaks Ground on Permanent Building, 47 Years After Its Founding”
                li News: “Beer Bottles, Cigarette Butts and Whip-It! Canisters: EAB Cleans 50 Pounds of Trash From Del Playa Drive”
                li Opinion: “The Moon Is Made of Eggs and Flour”
                li News: “UCSB Relaunches Hazing Prevention Coalition”
                li Opinion: “Introverts Are Not Immune — But Everyone Thinks We Are”
                li News: “RCSGD Leads Walk Through Campus in Observance of World AIDS Day”
                li News: “UCSB Students, Faculty, Community Demand Action at Climate Rally”
                li News: “UCSB Hosts 44th Annual Turkey Trot”
                li News: “DLG Late Night Cancelled Post-Pandemic”
                li News: “Ortega Is Dead, Long Live Ortega: Dining Commons Reborn as Takeout Hub, Catering Service and Storage Closet”
                li News: “UCSB Receives Fulbright, Gilman Honors for Diversity and Inclusion Efforts in Study Abroad”
                li News: “CU Boulder Historian Gives Virtual Lecture on Community Engagement and Accountability”
                li News: “Wingstop Swoops Into Isla Vista”
                li News: “UCSB Student Via Bleidner Hosts On-Campus Event for Essay Collection”
                li News: “Learning From Spring and Summer, Professors Pilot Revisions to Remote Instruction for Fall Quarter”
                li News: “The Show Must Go On: How Zoom Became A.S. Program Board’s Newest Venue”
                li News: “UCSB Information Technology Will Pilot Student Internship Program in Summer 2020”
                li Science & Tech: “Campus Lagoon: Yesterday’s Memory and Today’s Home”
                li News: “In the Limbo of Coronavirus, International Students Struggle With Housing and Travel”
                li News: “Isla Vista Based Island View Outfitters Celebrates 10th Anniversary, Owner Reflects on Company’s Growth and Future”
                li News: “2020-21 School Year Will Have Two-Week Winter Break”
                li News: “‘The UC should strive for better’: Students, Faculty and Stakeholders Share Suggestions for the Next UC President at UCLA Public Forum”
                li News: “‘There’s no relying on mommy and daddy'”: Foster and Formerly Incarcerated Students Share Their Stories With UC Regents
                li News: “Bells, Towers and Bell Towers: Carillon Recital Celebrates Storke Tower’s 50th Anniversary”
                li News: “Megan Twohey and Jodi Kantor Recount Breaking Harvey Weinstein Story at Campbell Hall”
        section
            h2 Class writing
            p Again, yes, embarrassing to use examples from class. That’s why I’ve put it dead last in this section.
            ul 
                li How to Sell a War: Joe Biden’s Rhetoric on the One-Year Anniversary of Russia’s Invasion of Ukraine
                li The Perversion of Striving: Modernism, Primitivism, and Class in Jean Toomer’s “Theater”
                li Seven Minutes to Infinity: Defining the Black Play
                li List Order Grant Proposal
                li Generational Slang Grant Proposal
        footer
            p Built with Vercel, #[a(href='https://github.com/pugjs/pug') Pug], and #[a(href='https://github.com/yshyonli2/portfolio') GitHub].
            p Find me on #[a(href='https://www.linkedin.com/in/yiu-on/') LinkedIn].