extends _templates/_normal-layout.pug

block head
    +head('Fiction Writing')
block header
    h1 Fiction Writing
block main
    section
        h2 Short stories
        p From January 2022 to June 2023, I contributed #[strong 5 short stories to #[i #[a(href='https://catalyst.english.ucsb.edu/') The Catalyst Contemporary Literary Arts Magazine]]], a collection of prose, poetry, and art at UC Santa Barbara that publishes 3 print issues per year. I collaborated with other editors and magazine writers to refine my stories before print.
        p But I didn’t just write these stories—#[strong I also created the layouts for them to appear in the magazine], in the process employing InDesign, Photoshop, ekphrasis, and the principles of CMYK printing to ensure an aesthetically pleasing and intellectually fulfilling final product.
        ul
            li.starred Prose: “#4863” (#[a(href='https://platypiduses.com/wp-content/uploads/2024/01/4863.pdf') isolated piece] and #[a(href='https://live-catalyst-english-ucsb-edu-v01.pantheonsite.io/wp-content/uploads/2023/03/Issue-27-Catalyst-Fall-2022.pdf#page=28') full issue])
            li.starred Poetry: “Créme” (#[a(href='https://platypiduses.com/wp-content/uploads/2024/01/Creme.pdf') isolated piece] and #[a(href='https://live-catalyst-english-ucsb-edu-v01.pantheonsite.io/wp-content/uploads/2023/04/Issue-28-Catalyst-Winter-2023.pdf#page=38') full issue])
            li.starred Prose: “WWW” (#[a(href='https://platypiduses.com/wp-content/uploads/2024/01/WWW.pdf') isolated piece] and #[a(href='https://live-catalyst-english-ucsb-edu-v01.pantheonsite.io/wp-content/uploads/2023/06/Issue-29-Spring-2023.pdf#page=28') full issue])
            li Prose: “what is an this” (#[a(href='https://platypiduses.com/wp-content/uploads/2024/01/what-is-an-this.pdf') isolated piece] and #[a(href='https://live-catalyst-english-ucsb-edu-v01.pantheonsite.io/wp-content/uploads/2023/03/Issue-26-Catalyst-Spring-2022.pdf#page=18') full issue])
            li Prose: “Cirrus” (writing only; #[a(href='https://platypiduses.com/wp-content/uploads/2024/01/Cirrus.pdf') isolated piece] and #[a(href='https://live-catalyst-english-ucsb-edu-v01.pantheonsite.io/wp-content/uploads/2023/03/Issue-25-Catalyst-Winter-2022.pdf#page=11') full issue])