doctype html

html
    head
        meta(charset='UTF-8')
        title Fiction Writing · Yiu-On Li
        link(rel='stylesheet' type='text/css' href='style.css')
    body
        section
            h1 Fiction Writing
        footer
            p Built with Vercel, #[a(href='https://github.com/pugjs/pug') Pug], and #[a(href='https://github.com/yshyonli2/portfolio') GitHub].
            p Find me on #[a(href='https://www.linkedin.com/in/yiu-on/') LinkedIn].